body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

hr {
  margin: 0 40px;
  border: 1px solid #DCDCDC;
}

.file-input {
  display: none;
}

input {
  outline: none;
}

.logo {
  background: url('./img/logo2.png');
  width: 77px;
  height: 103px;
  margin-top: 38px;
}

.logo-background .title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}


.investors-page .container {
  width: 100%;
  height: 100vh;
}

.investors-page .container .header {
  height: 554px;
  width: 100%;
  background: url('./img/header.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}


.content-investors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 144px;
  width: 530px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.content-investors .logo-container {
  width: 358px;
  height: 358px;
  border: 1px white solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-investors .logo-background {
  width: 322px;
  height: 322px;
  border-radius: 50%;
  background: #CA437E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-investors .logo-background .logo {
  z-index: 99;
}
 .logo-filefolder {
  background: url('./img/logo-smal.png');
  width: 75px;
  height: 110px;
  margin-top: 38px;
  z-index: 99;
}


.investors-from {
  width: 530px;
  height: 344px;
  background: #fff;
  box-shadow: 0px 20px 120px rgba(0, 0, 0, 0.08);
  margin-top: -90px;

  .title {
    margin-top: 44px;
    text-align: center;
    color: #1e1e1e;
    font-size: 24px;
    height: 40px;
    width: 100%;
    font-weight: 600;
  }

  .subtitle {
    text-align: center;
    font-size: 18px;
    color: #595959;
  } 

  .password-field {
    height: 54px;
    width: 90%;
    margin: 0 auto;
    margin-top: 34px;
    border-radius: 4px;
    border: #ebebeb 2px solid;
    padding-left: 24px;
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
  }
  
  
}

.fail-pass {
  color: red;
  margin-left: 52px;
  margin-top: -12px;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 18px;
}

.button {
  padding: 16px 88px;
  background: #005A2F;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
<<<<<<< HEAD
  z-index: 99;
  margin: 0 auto; 
  width: 305px;
=======
  z-index: 4;
  margin: 0 auto;
>>>>>>> dd4c94719ff73c953339dceafb79cbd4a6c871e8
  cursor: pointer;
  text-align: center;
  justify-content: center;
  transition: all .1s;
}

.button:hover {
  background: rgb(1, 133, 69);
}


.disabled-btn {
  background: #B2CBBF;
  cursor: auto;
}

.disabled-btn:hover {
  background: #B2CBBF;
}

.light-theme-title {
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 32px;
  height: 40px;
  width: 100%;
  font-weight: 700;
}

.investors-list-container {
  width: 530px;
  background: #fff;
  box-shadow: 0px 20px 120px rgba(0, 0, 0, 0.08);
  margin-top: -236px;
  margin-bottom: -43px;
  width: 100%;
<<<<<<< HEAD
=======
  margin-bottom: -32px;
  overflow: auto;
>>>>>>> dd4c94719ff73c953339dceafb79cbd4a6c871e8
  z-index: 0;

  .title {
    margin-top: 55px;
    font-size: 28px;
    font-weight: bold;
    color: #C8427D;
    text-align: center;
  }

  .subtitile-filelist {
    font-weight: 500;
    font-size: 18px;
    color: #454545;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 27px;
  }

  .footer-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 12px 50px 75px 50px;

    .btn-more {
      font-size: 20px;
      font-weight: 500;
      color: #CA437E;
      cursor: pointer;
    }

    .btn-clear {
      padding: 6px 33px;
      border: 2px solid #005A2F;
      border-radius: 100px;
      color: #005A2F;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: all .1s;
    }

    .btn-clear:hover {
      background: #005A2F;
      color: #fff;
    }
  }
}

@media screen and (max-width:479px) {
  /* Target portrait smartphones */
  .content-investors {
    width: 360px;
  }
  
  .modal-card {
    width: 360px;
  }

  .modal-card .email-input  {
    max-width: 320px;
  }
}

.button-send {
  margin-top: -32px;
}

.file-list {
  height: 376px;
  overflow: auto;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

.noselected-file {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.noselected-file:hover {
  background: #F4F4F4;
}

.noselected-file::before {
  content: "";
  background-image: url('./img/vector-disabled.png');
  margin-right: 10px;
  display: block;
  width: 16px;
  height: 12px;
  
}


.selected-file {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.selected-file::before {
  content: "";
  background-image: url('./img/Vector.png');
  margin-right: 10px;
  display: block;
  width: 16px;
  height: 12px;
}

.type-icon {
  width: 40px;
  height: 40px;
}

.docx {
  background-image: url('./img/word.png');
}

.img {
  background-image: url('./img/photo.png');
}

.xlc {
  background-image: url('https://image.flaticon.com/icons/svg/617/617544.svg');
}

.ppt {
  background-image: url('https://image.flaticon.com/icons/svg/337/337949.svg');
}

.pdf {
  background-image: url('https://image.flaticon.com/icons/svg/337/337946.svg');
}

.zip {
  background-image: url('https://image.flaticon.com/icons/svg/337/337960.svg');
}

.video {
  background-image: url('https://image.flaticon.com/icons/svg/254/254644.svg');
}



.delete-file:hover::before {
  content: '';
  background-image: url('https://image.flaticon.com/icons/png/512/189/189678.png');
  background-size: contain;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.delete-file:hover {
  padding-left: 26px;
}

.title-files-list {
  text-align: center;
  margin-top: 200px;
  font-size: 35px;
  font-weight: 700;
  color: grey;
}

.text-file {
  margin-left: 16px;
}

.load-button {
  border-radius: 20px;
  background: rgb(29, 128, 80);
  color: #fff;
  font-weight: 500; 
  font-size: 20px;
  padding: 15px 30px;
  z-index: 400;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: -80px;
}


.footer {
  height: 100px;
  background: #CA437E;
  position: absolute;
  width: 100%;
  bottom: 0; 
}

.container-modal {
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #0000007e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  width: 530px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center; 
  
  .title {
    color: #C8427D;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 24px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .subtitle {
    font-size: 18px;
    color: #454545;
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .modal-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -35px;
  }

  .modal-button {
    margin-bottom: -30px;
  }

}


.modal-icon {
  background-image: url('./img/mail\ \(2\)\ 1.png');
  width: 70px;
  height: 70px;
  margin-top: 35px;
  margin-bottom: 22px;
}

.close-btn {
  font-weight: 350;
  margin-right: 5px;
  font-size: 40px;
  color: #D9D9D9;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
}



@media only screen and (max-device-width: 480px) {
  .investors-from {
    width: 350px;
  }  

  .content-investors {
    .logo-container {
      width: 312px;
      height: 312px;
    }

    .logo-background {
      width: 280px;
      height: 280px;
      
      .logo {
        width: 43px;
        height: 59px;
        background-size: contain;
      }

      .title {
        font-size: 24px;
        margin-bottom: 140px;
      }
    }

    .investors-from {
      margin-top: -145px;

      .title { font-size: 20px;}
      .subtitle {
        font-size: 16px;
        margin: 0 50px; 
      }

      .password-field {
        margin-top: 16  px;
      }
    }


    .investors-list-container {
      margin-top: -189px;
      margin-right: 12px;
      margin-left: 12px;
    }
    
    .modal-card {
      margin-right: 12px;
      margin-left: 12px;
      text-align: center;
    }
   
  } 
}
